<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>

    <link rel="stylesheet" href="css/style.css" />
    <title>Home</title>
</head>
<body>
    
    <%-include( './partials/menu.ejs' ) %>

    hello



    <%-include ('./partials/bootJava.ejs') %>
</body>
</html>